header{
    background: #BBBBBB;
    padding: 20px;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: wavy;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.cr{
    color: white;
    font-size: 13px;
    margin: 20px;
}

.checkbox{
    margin: 20px 0;
}

.submit{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.submit:hover{
    background: red;
    transform: scale(1.1) rotate(1.25deg);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white; 
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 5px 20px;
}